*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background-color: rgba(222, 184, 135, 0.829);
}

header {
    background-color: burlywood;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

form, label, input, button {
    display: block;
    justify-items: center;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

label {
    font-size: 30px;
    color: #fff;
}

ul {
    text-align: center;
    display: none;
    color: #fff;
    margin-top: 50px;
}

button {
    background-color: rgb(183, 156, 36);
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(220, 187, 40);
}

h2, li {
    color: rgb(183, 156, 36);
    font-weight: bold;
}

ul li {
    font-size: 30px;
    cursor: pointer;
} 

li.riscado {
    text-decoration: line-through;
    color: gray;
}

